.v-application {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic Medium", sans-serif !important;
  font-feature-settings: "pkna" 1;

  h1, h2, h3, h4, h5, h6, strong {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic", sans-serif !important;
    font-weight: 700;
  }
  .wf-crafty-girls {
    font-family: 'Crafty Girls', cursive !important;
  }
  .wf-nicomoji { font-family: "Nico Moji", cursive; }
}
